<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem id="menu_root" name="QLNS" sequence="0"/>
        
        <!-- Menu cha: Thông tin nhân viên -->
        <menuitem id="menu_danh_muc_chung"
                  name="Thông tin nhân viên"
                  parent="menu_root"
                  sequence="1"/> <!-- Thứ tự 1 -->
                  
        <!-- Các menu con bên trong "Thông tin nhân viên" -->
        <menuitem name="Danh sách nhân viên" 
            id="menu_nhan_vien"
            parent="menu_danh_muc_chung" 
            sequence="1"
            action="action_nhan_vien"
        />
        <menuitem name="Quản lý đơn vị" 
            id="menu_don_vi" 
            parent="menu_danh_muc_chung" 
            sequence="2"
            action="action_don_vi"
        />
        <menuitem name="Quản lý chức vụ" 
            id="menu_chuc_vu" 
            parent="menu_danh_muc_chung" 
            sequence="3"
            action="action_chuc_vu"
        />
        <menuitem name="Thông tin công việc" 
            id="menu_lich_su_cong_tac" 
            parent="menu_danh_muc_chung" 
            sequence="4"
            action="action_lich_su_cong_tac"
        />
        <menuitem name="Quản lý chứng chỉ" 
            id="menu_chung_chi" 
            parent="menu_danh_muc_chung" 
            sequence="5"
            action="action_chung_chi"
        />
       
        <!-- Menu: Phòng ban -->
        <menuitem name="Phòng ban" 
            id="menu_phong_ban" 
            parent="menu_root" 
            sequence="2" 
            action="action_phong_ban"
        />
        <!-- Menu: Chương trình đào tạo - Phát triển-->
        <menuitem name="Đào tạo - phát triển" 
            id="menu_dao_tao_tuyen_dung" 
            parent="menu_root" 
            sequence="3" 
            action="action_khoa_dao_tao"
        />
        <menuitem name="Chương trình đào tạo" 
            id="menu_khoa_dao_tao" 
            parent="menu_dao_tao_tuyen_dung" 
            sequence="1" 
            action="action_khoa_dao_tao" /> 

        <menuitem name="Quản lý khóa học" 
            id="menu_khoa_hoc" 
            parent="menu_dao_tao_tuyen_dung" 
            sequence="2" 
            action="action_khoa_hoc" /> <!-- Thứ tự 4 -->

        <menuitem name="Tham gia khóa đào tạo" 
            id="menu_tham_gia_khoa_hoc" 
            parent="menu_dao_tao_tuyen_dung" 
            sequence="3" 
            action="action_tham_gia_khoa_dao_tao" /> <!-- Thứ tự 4 -->
        
        <!-- Menu: Hợp đồng nhân viên -->
        <menuitem name="Hợp đồng nhân viên" 
            id="menu_hop_dong" 
            parent="menu_root" 
            sequence="4" 
            action="action_hop_dong"
        />
         <menuitem name="Lương nhân viên" 
            id="menu_bang_luong" 
            parent="menu_root" 
            sequence="5"
            action="action_bang_luong"
        />
    </data>
</odoo>
